<li class="nav-dropdown-container language">
  <a class="nav-link">еще</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="/volunteers/" class="nav-link">волонтерам</a></li>
    <li><a href="/license/" class="nav-link">лицензия</a></li>
    <li><a href="/contacts/" class="nav-link">контакты</a></li>
    <li><a href="/support/" class="nav-link">помочь</a></li>
  </ul>
</li>
